@import url('https://fonts.googleapis.com/css?family=Roboto:300');
html,body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h1,h2,h3{
  margin: 0;
  padding: 0;
  font-weight: 300;
}
*{
  box-sizing: border-box;
}
.main-class{
  padding-top: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*min-height: 100vh;*/
}
.main-class h1,h2,h3{
  text-align: center;
  flex-basis: 100%;
}
.main-class h2{
  color: rgba(0,0,0,0.5);
}
.apps-body{
  padding-top: 10vh;
}
.main-class a{
  color: #3F51B5;
  text-decoration: none;
}
.app-item{
  padding: 0 10px 0 10px;
    margin: 10px;
    opacity: 0.7;
}
.app-item:hover{
  opacity: 1;
}
.main-footer{
  padding: 20px;
  width: 100%;
  background-color:#3F51B5;
  color: rgba(255,255,255,0.5);
  bottom: 0;
  position: absolute;
  font-size: 11pt;
}
.main-footer a{
  color: rgba(255,255,255,0.5);
}
.main-footer a:hover{
  text-decoration: underline;
}
