@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Work+Sans');
.main-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
}
.--bg-dark{
  background-color: #212121;
}
.--bg-middle-dark{
  background-color: #424242;
}
.--bg-middle-light{
  background-color: #BDBDBD;
}
.--bg-light{
  background-color: #E0E0E0;
}
.main-div__first{
  width: 30%;
}
.main-div__second{
  width: 70%;
}
.profile-box{
}
.profile-box__pic{
  text-align: center;
}
.profile-box__pic img{
  max-height: 400px;
}
.profile-box__name{
  margin-top: 10px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.profile-box__sep{
  margin: 10px auto;
  height: 4.42px;
  width: 80px;
  border-radius: 50px;
  background-color: white;
}
.profile-box__about{
  margin-top: 10px;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #212121;
}
.profile-box__about a{
  color: #529c8c;
  font-weight: bold;
}
.profile-box__about img{
  vertical-align: middle;
}
.profile-box__work h1{

  text-align: center;
  font-size: 18px;
  color: rgba(255,255,255,0.5);
}
.profile-box__social{
  border-top: 1px solid white;
  border-bottom: 1px solid #212121;
  padding: 10px;
}
.profile-box__social h1{
  text-shadow: 0px 1px 1px #fff;
  font-size: 18px;
  padding-bottom: 10px;
}
.profile-box__social img{
  transition: all 250ms ease-out;
  opacity: 0.5;
}
.profile-box__social img:hover{
  opacity: 1;
}
.projetos__item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5px;
}
.projetos__item-year{
  text-align: center;
  padding: 5px;
  flex-basis: 10%;
  color: white;
  font-size: 18px;
  background: #cb2d3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.projetos__item-title{
  padding: 10px;
  width: 100%;
  background-color: #BDBDBD;
  border-bottom: 1px solid black;
}
.projetos__item-desc{
  padding: 10px;
  width: 100%;
  color: white;

}
.projetos__item-desc a{
  color: #529c8c;
  font-weight: bold;
}
.projetos__item-desc i{
  font-style: italic;
  opacity: 0.7;
}
.projetos__header{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.projetos__title{
  font-size: 24px;
  color: black;
  padding: 20px;
  flex-basis: 10%;
  border-right: 1px solid white;
}
.projetos__desc{
  color: white;
  padding: 20px;
  flex-basis: 90%;
  border-left: 1px solid black;
}
.footer-quote{
  background: #3a7bd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 20px 10% 20px 10%;
  text-transform: uppercase;
}
.footer-quote h1{
  font-size: 20px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.footer-quote__author
{
  text-align: right;
}

@media screen and (max-width: 1042px) {
  .main-div{
    width: 100%;
  }
  .main-div__first{
    flex-basis: 100%;
    width: 100%;
  }
  .main-div__second{
    flex-basis: 100%;
    width: 100%;
  }
}
