@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Work+Sans');
html{
  background-color: #212121;
  font-family: 'Montserrat', sans-serif;
}
body{
  padding: 5%;
}
header h1
{
  font-size: 24px;
  color: white;
  letter-spacing: 0.2em;
}
header h2
{
  color: rgba(255,255,255,0.5);
  letter-spacing: 0.2em;
}
.header__name{
  display: inline-block;
}
