html
{
  font-family: 'Roboto', sans-serif;
}
body
{
  background-color: #F5F5F5;
}
.resume-name
{
  font-size: 32px;
  margin-top: 20px;
  display: block;
}
.img-box
{
  height:100%;
  border-radius: 3px;
}
.row-cast-shadow
{
  -webkit-box-shadow: 0px 2px 11px 1px rgba(128,128,128,0.15);
  -moz-box-shadow: 0px 2px 11px 1px rgba(128,128,128,0.15);
  box-shadow: 0px 2px 11px 1px rgba(128,128,128,0.15);
  border-bottom: solid 1px #E0E0E0;
}
.default-profile-box
{
  background-color: #CFD8DC;
  height: 210px;
  text-align: center;

}
.profile-img-frame
{

  padding: 10px 10px 10px 10px;
}
.about-box
{
  background-color: #F5F5F5;
  z-index: -1;
}
.contact-profile-box
{
  background-color: #EEEEEE;
  height: 210px;
  padding-top: 10px;
  padding-left: 20px;
}
.main-info
{
  line-height: 25px;
}
.main-info p{
  font-size: 24px;
}
.local-info
{
  font-size: 16px;
  color: #616161;
  background-color: #EEEEEE;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 3px;

}
.work-and-skill
{
  background-color: #F5F5F5;
}
.work-and-skill-bg
{
  background-color: #F5F5F5;
  padding: 0 0 0 0;
  z-index: 1;
}
.year
{
  color:#4FC3F7;
  font-size: 18px;
  font-weight: bold;
  float: left;
}
.separator
{
  float:left;
  width: 100%;
  height: 3px;
  margin-bottom: 10px;
  background-color: #4FC3F7;
}
.work-place
{
  margin-top: 56px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
}
.work-job
{
  font-size: 18px;
  margin-left: 30px;
  margin-top: -10px;
}
.work-desc
{
  font-size:12px;
  margin-left: 30px;
  border-left-color: #4FC3F7;
  background-color: #EEEEEE;
}
.social-button
{
  height: 32px;
  width: 32px;
}
.skill-bar-bg
{
  background-color: #E0E0E0;
  width: 90%;
  height: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.skill-fill
{
  background-color: #FFD54F;
  width: 100%;
  height: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.skill-fill:hover
{
  background-color: #FFE082;
}
.skill-fill-10
{
  width: 10%;
}
.skill-fill-20
{
  width: 20%;
}
.skill-fill-30
{
  width: 30%;
}
.skill-fill-40
{
  width: 40%;
}
.skill-fill-50
{
  width: 50%;
}
.skill-fill-60
{
  width: 60%;
}
.skill-fill-70
{
  width: 70%;
}
.skill-fill-80
{
  width: 80%;
}
.skill-fill-90
{
  width: 90%;
}
.skill-fill-100
{
  width: 100%;
}
.resume-projects
{
  background-color: #424242;
  padding: 10px 10px 10px 10px;

}
.resume-projects h3
{
  color: white;
}
.project-thumb
{
  height: 310px;
  padding: 0 0 0 0;
}
.project-thumb:hover img
{
  opacity: 0.1;
}
.project-thumb:hover span.project-caption
{
  opacity: 1;
}
.project-img
{
  height: 100%;
  width: 100%;
  opacity: 1;
  display: block;
}
.project-caption
{
  color: white;
  opacity: 0;
  margin-top: -200px;
  padding: 5px;
  position: absolute;
  text-align: justify;
}
.project-name
{
  color: white;
  opacity: 1;
  font-size: 18px;
  margin-top: -310px;
  padding: 5px;
  position: absolute;
  text-shadow: 2px 1px 5px rgba(57, 60, 60, 1);

}
.project-link
{
  display:inline-block;
  color: white;
  background-color: #EF5350;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: -30px;
  margin-left: 130px;
  padding: 5px;
  position: absolute;
}
.project-link:hover
{
  background-color: #E57373;
}
.resume-footer
{
  height: 120px;
  background-color: #424242;
}
.color-yellow
{
  background-color: #FFD54F;
}
.color-dark-grey
{
  color:#616161;
}
