
                 <!-- _,........_
               _.-'    ___    `-._
            ,-'      ,'   \       `.
 _,...    ,'      ,-'     |  ,""":`._.
/     `--+.   _,.'      _.',',|"|  ` \`
\_         `"'     _,-"'  | / `-'   l L\
  `"---.._      ,-"       | l       | | |
      /   `.   |          ' `.     ,' ; |
     j     |   |           `._`"""' ,'  |__
     |      `--'____          `----'    .' `.
     |    _,-"""    `-.                 |    \
     l   /             `.               F     l
      `./     __..._     `.           ,'      |
        |  ,-"      `.    | ._     _.'        |
        . j           \   j   /`"""      __   |          ,"`.
         `|           | _,.__ |        ,'  `. |          |   |
          `-._       /-'     `L       .     , '          |   |
              F-...-'          `      |    , /           |   |
              |            ,----.     `...' /            |   |
              .--.        j      l        ,'             |   j
             j    L       |      |'-...--&lt;               .  /
             `     |       . __,,_    ..  |               \/
              `-..'.._  __,-'     \  |  |/`._           ,'`
                  |   ""       .--`. `--,  ,-`..____..,'   |
                   L          /     \ _.  |   | \  .-.\    j
                  .'._        l     .\    `---' |  |  || ,'
                   .  `..____,-.._.'  `._       |  `--;"I'
                    `--"' `.            ,`-..._/__,.-1,'
                            `-.__  __,.'     ,' ,' _-'
                                 `'...___..`'--^--' mh

                                 A wild Caterpie appeared!  -->


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio - Guilherme Lagemann</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.min.js"></script>
</head>

<body>
    <div class="main">
        <div class="header">
            <h1>Guilherme Lagemann</h1>
            <h2>Desenvolvedor de Software</h2>
            <div class="header-title">
                <h3>PORTFOLIO</h3>

            </div>
        </div>
        <div class="content">
            <div v-for="category in categories" class="category-wrapper">
                <!-- <h1>{{category}}</h1> -->
                <div v-for="project in projects" v-if="category === project.category" class="project-wrapper">
                    <div class="project-pic">
                        <img alt="" :src="project.pic">
                    </div>
                    <div class="project-body">
                        <span class="plink">{{project.year}}</span>
                        <!-- <a :href="project.link" class="plink">ACESSAR</a> -->
                        <div class="project-title">
                            <a :href="project.link" target="_blank">
                                <h1>{{project.title}}</h1>
                            </a>
                        </div>
                        <div class="project-desc">
                            <p>{{project.desc}}</p>
                        </div>
                        <div class="project-tags">
                            <div v-for="tag in project.tags" class="ptag">{{tag}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/app.js"></script>
</body>

</html>